:root {
  --main-background-color: #d3c2be;
  --secondary-background: #f0eee9;
  --heading-font-family: "Merriweather Sans", sans-serif;
  --default-font-family: "Lato", sans-serif;
  --main-color: #d15c77;
  --secondary-color: #263056;
  --third-color: #333f48;
}

body {
  font-family: var(--default-font-family);
  background-color: var(--secondary-background);
}

h1 {
  font-family: var(--heading-font-family);
  font-weight: bold;
  color: var(--main-color);
  font-size: 96px;
}

.hero {
  background-color: var(--main-background-color);
  text-align: center;
  padding: 160px 20px;
}

.hero h2 {
  color: var(--secondary-color);
  font-size: 24px;
  line-height: 2;
}

.hero p {
  font-size: 36px;
  color: var(--third-color);
}

.btn-branding {
  background-color: var(--main-color);
  font-size: 18px;
  color: white;
  border-radius: 4px;
  line-height: 25px;
  padding: 12px 20px;
}
