:root {
  --main-background-color: #d3c2be;
  --secondary-background: #f0eee9;
  --heading-font-family: "Merriweather Sans", sans-serif;
  --default-font-family: "Lato", sans-serif;
  --main-color: #d15c77;
  --secondary-color: #263056;
  --third-color: #333f48;
}

body {
  font-family: var(--default-font-family);
  background-color: var(--secondary-background);
}

h1 {
  font-family: var(--heading-font-family);
  font-weight: bold;
  color: var(--main-color);
  font-size: 96px;
  line-height: 1.5;
}

h2 {
  color: var(--main-color);
}

p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: var(--third-color);
}

@media (min-width: 992px) {
  .index .row {
    padding-top: 30px;
    padding-bottom: 60px;
  }

  .project-description {
    padding: 120px 60px;
  }
}

.hero {
  background-color: var(--main-background-color);
  text-align: center;
  padding: 160px 20px;
}

.hero h2 {
  color: var(--secondary-color);
  font-size: 64px;
}

.hero p {
  font-size: 36px;
  color: var(--third-color);
}

.btn-branding {
  background-color: var(--main-color);
  font-size: 18px;
  color: white;
  border-radius: 4px;
  line-height: 25px;
  padding: 12px 20px;
}

.btn-branding-outline {
  background-color: none;
  border: 1px solid var(--main-color);
  font-size: 16px;
  color: var(--main-color);
  border-radius: 4px;
  line-height: 25px;
  padding: 10px 18px;
}

.project-description {
  padding: 20px;
  text-align: center;
}

.content-container img {
  padding-top: 170px;
}

.inside-container {
  margin: 30px;
}

.content-container h1 {
  font-family: var(--heading-font-family);
  color: var(--main-color);
  font-size: 64px;
  line-height: 80px;
}

.content-container h2 {
  font-size: 18px;
  font-weight: bold;
  color: var(--secondary-color);
}

.content-container img {
  max-width: 100%;
  padding: 10px;
  border-radius: 20px;
}

.inside-container h3 {
  font-size: 26px;
  font-weight: 900;
  color: var(--secondary-color);
  margin: 0;
}

.inside-container p {
  font-size: 14px;
}

.contact-container h3 {
  color: var(--secondary-color);
}

.contact-container a {
  text-decoration: none;
  font-size: 20px;
  color: var(--secondary-color);
  opacity: 80%;
}

.contact-container a:hover {
  color: var(--main-color);
  text-decoration: underline;
  transition: all 100ms ease-in-out;
}

.nav-container {
  background-color: var(--main-background-color);
  border-bottom: 1px solid var(--main-color);
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 0 0;
}

nav ul {
  padding: 0;
  padding: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 20px;
  margin-left: 15px;
  font-weight: bold;
  font-size: 14px;
}

nav a {
  text-decoration: none;
  color: var(--secondary-color);
}

nav a:hover,
nav li.active a {
  color: var(--main-color);
  text-decoration: underline;
  transition: all 100ms ease-in-out;
}

.logo {
  max-width: 150px;
  max-height: 28px;
}

.logo-small {
  max-width: 100px;
  max-height: 31px;
}

footer {
  margin: 50px;
}

footer .contact-box {
  border-radius: 15px;
  padding: 30px 90px;
  margin: 10px;
  box-shadow: 5px 10px 20px 5px var(--main-background-color);
}

footer .contact-box p {
  margin: 0;
}

footer .email-link {
  text-decoration: none;
  color: var(--third-color);
  font-size: 24px;
  font-size: bold;
  margin-top: 60px;
  margin-bottom: 5px;
}

footer .email-link:hover {
  color: var(--main-color);
}

footer .social-links a {
  color: var(--main-color);
  background-color: var(--secondary-background);
  font-size: 30px;
  padding: 10px 14px;
  border-radius: 50%;
}

footer .social-links a:hover {
  color: var(--secondary-background);
  background-color: var(--main-color);
}

footer h3 {
  font-size: 48px;
  font-family: var(--heading-font-family);
}

@media (max-width: 900px) {
  .hero {
    padding: 80px 20px;
  }

  h1 {
    font-size: 60px;
  }

  h2,
  .hero h2 {
    font-size: 40px;
  }

  .content-container {
    text-align: center;
    padding: 0;
  }
}
