:root {
  --main-background-color: #d3c2be;
  --secondary-background: #f0eee9;
  --heading-font-family: "Merriweather Sans", sans-serif;
  --default-font-family: "Lato", sans-serif;
  --main-color: #d15c77;
  --secondary-color: #263056;
  --third-color: #333f48;
}

body {
  font-family: var(--default-font-family);
  background-color: var(--secondary-background);
}

h1 {
  font-family: var(--heading-font-family);
  font-weight: bold;
  color: var(--main-color);
  font-size: 96px;
  line-height: 1.5;
}

p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: var(--third-color);
}

.hero {
  background-color: var(--main-background-color);
  text-align: center;
  padding: 160px 20px;
}

.hero h2 {
  color: var(--secondary-color);
  font-size: 64px;
}

.hero p {
  font-size: 36px;
  color: var(--third-color);
}

.btn-branding {
  background-color: var(--main-color);
  font-size: 18px;
  color: white;
  border-radius: 4px;
  line-height: 25px;
  padding: 12px 20px;
}

.btn-branding-outline {
  background-color: none;
  border: 1px solid var(--main-color);
  font-size: 16px;
  color: var(--main-color);
  border-radius: 4px;
  line-height: 25px;
  padding: 10px 18px;
}

.project-description {
  padding: 120px 60px;
}

.about-section img {
  padding-top: 170px;
}

@media (max-width: 900px) {
  .hero {
    padding: 80px 20px;
  }

  h1 {
    font-size: 60px;
  }

  h2 {
    font-size: 40px;
  }

  .project-description {
    padding: 0;
    text-align: center;
  }

  .about-section {
    text-align: center;
    padding: 0;
  }
}

.about-section {
  text-align: center;
  padding: 160px 20px;
}

.about-content {
  margin: 30px;
}

.about-section h1 {
  font-family: var(--heading-font-family);
  color: var(--main-color);
  font-size: 64px;
  line-height: 80px;
}

.about-section h2 {
  font-size: 18px;
  font-weight: bold;
  color: var(--secondary-color);
}

.about-section img {
  max-width: 100%;
  padding: 10px;
  border-radius: 20px;
}
